<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>term2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserJoinServlet</servlet-name>
    <servlet-class>user.UserJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserJoinServlet</servlet-name>
    <url-pattern>/userJoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userClassAddServlet</servlet-name>
    <servlet-class>userClass.userClassAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userClassAddServlet</servlet-name>
    <url-pattern>/userClassAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdminPlus</servlet-name>
    <servlet-class>user.UserAdminPlus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminPlus</servlet-name>
    <url-pattern>/userAdminPlus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userClassDelServlet</servlet-name>
    <servlet-class>userClass.userClassDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userClassDelServlet</servlet-name>
    <url-pattern>/userClassDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserButtonJoinServlet</servlet-name>
    <servlet-class>user.UserButtonJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserButtonJoinServlet</servlet-name>
    <url-pattern>/userButtonJoin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>user.UserDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/userDel</url-pattern>
  </servlet-mapping>
</web-app>